parameters:
  level: 9
  paths:
    - src
    - tests
  treatPhpDocTypesAsCertain: true
  ignoreErrors:
    - "#Casting to string something that's already string#"
  reportUnmatchedIgnoredErrors: false
  checkImplicitMixed: true
  checkBenevolentUnionTypes: true
