includes:
  - phpstan-baseline.neon
parameters:
  level: 9
  paths:
    - src
    - tests
  treatPhpDocTypesAsCertain: true
  ignoreErrors:
    - "#Casting to string something that's already string#"
    - message: "#^Cannot access offset \\(int\\|string\\) on mixed.$#"
      path: "src/ArrayDataRecord.php"
  reportUnmatchedIgnoredErrors: false
  checkImplicitMixed: true
  checkBenevolentUnionTypes: true
